@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  scroll-behavior: smooth;
  transition: all .5s ease;
}
::-webkit-scrollbar {
	width: 5px;
	height: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(114, 113, 113);
	border-radius: 10px;
	height: 200px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
.App{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0.38) 100%);
}
.btn{
  display: inline-block;
  cursor: pointer;
}
.sidebar{
  animation: slide-sidebar .5s cubic-bezier(0.52, 0.46, 0.45, 0.94) both;
}
@keyframes slide-sidebar {
  0%{
    transform: translateY(100px);
  }
  100%{
    transform: translateY(0);
  }
}